body {
    background-color: #435560;
    text-align: center;
    width: 100%;
    margin: auto;
    font-family: 'Courier New', monospace;
    box-sizing: border-box;
}

header {
    margin: 100px auto;
    font-size: 1.7em;
    color: #111
}

.body {
    background-color: #393232;
    height: 480px;
    width: 294px;
    border: solid thin black;
    border-radius: 8px;
    margin: auto;
    margin-top: 150px;
}

.btn {
    background-color: #dddacc;
    border: 1px solid gray;
    height: 65px;
    width: 65px;
    margin: 2px;
    line-height: 60px;
    font-weight: 900;
    font-size: 1.2em;
    word-wrap: break-word;
}

.btn:hover {
    border: 1px solid #baa670;
    color: #ff7a59;
    background: ivory;
}

.btn:active {
    border: solid 4px #ff7a59;
}

.row {
    display: flex;
    flex-direction: row;
}

.main-btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    position: relative;
    top: 55px;
    left: 7px;
    width: 280px;
}

.main-display {
    display: flex;
    flex-direction: row-reverse;
    font-size: 2.5em;
    font-weight: 700;
    max-width: 272px;
    height: 60px;
    line-height: 60px;
    position: relative;
    left: 10px;
    top: 20px;
    border: solid thin black;
    border-radius: 8px;
    background-color: white;
}

.numbers {
    position: relative;
    right: 18px;
    max-width: 241px;
    overflow: hidden;
}

.orange {
    background-color: #ff7a59;
    color: black;
}

.white {
    background-color: white;
}