html {
    background-color: #f8f5f1;
    text-align: center;
    width: 100%;
    margin: auto;
}

header {
    margin: 50px;
    font-size: 4em;
    font-weight: 900;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    header {
        font-size: 2em;
    };

    #change-size-btn {
        font-size: 1em;
        padding: 9px;
    };

    .grid {
        width: 1000px;
        height: 1000px;
    }
}

.grid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: solid thin black;
    margin: 50px auto;
    width: 480px;
    height: 480px;
}

.box {
    border: solid thin black;
    padding: auto;
    margin: 0;
    background-color: none;
}

#change-size-btn {
    padding: 15px;
    font-size: 1.2em;
}